.App {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(to right, #4CA1AF, #C4E0E5);
}

.App > h2 {
  color: white;
}

.App-logo {
  width: fit-content;
  font-size: 50px;
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 6s linear;
}

@keyframes App-logo-spin {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(100rem);
  }
}
